.simple-calendar{
  height: 100%;
  .calender-heading{
    .calender-title{
      
    }
  }
  table{
    thead{
      tr{
        th{
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        td{
          font-size: 10px;
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
}


.header{
  width: 100%;
  height: 100px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: double;
  &__title{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
  }
}

.body{
  width: 100%;
  height: 600px;
  border-bottom: double;
  display: flex;
  .sidebar{
    width: 700px;
    background-color: #f8f8f8;
    border-right: groove;
    &__calendar{
      padding: 10px;
      height: 400px;
      text-decoration: none;
    }
  }
  .main{
    width: calc( 100% - 200px );
    background-color: #fff;
    .diary{
      padding: 10px;
      &__time{
        display: flex;
        justify-content: flex-start;
        margin-right: 450px;
        #note_start_time_1i{
          width: 70px;
        }
        #note_start_time_2i{
          width: 50px;
        }
        #note_start_time_3i{
          width: 50px;
        }
      }
      &__title{
        font-size: 30px;
        width: 100%;
        input{
          width: 100%;
          height: 30px;
          font-size: 20px;
        }
      }
      &__content{
        padding-top: 10px;
        width: 100%;
        textarea{
          width: 100%;
          height: 362px;
        }
      }
    }
    .save{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100px;
      input{

      }
    }
  }
}

